.video-frame {
  max-width: 1080px;
  max-height: 100%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  border: 2px solid #0099ffb7; /* Añade un borde al contenedor del video */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 174, 255, 0.473); /* Añade una sombra al contenedor del video */
  overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

.video-frame video {
  width: 100%; /* El video ocupa todo el ancho del contenedor */
  height: auto; /* La altura se ajusta automáticamente para mantener la proporción de aspecto del video */
}

.hidden {
  display: none; /* Oculta el marco cuando no se está capturando */
}
  
  .button-container {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  ion-button {
    --border-radius: 50%;
    width: 64px;
    height: 64px;
    --background: var(--ion-color-light);
    --box-shadow: none;
    --padding-end: 0;
    --padding-start: 0;
    --padding-bottom: 0;
    --padding-top: 0;
  }
  
  ion-icon {
    font-size: 32px;
  }

 /* Estilos anteriores ... */

.start-message {
    position: absolute;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .start-message p {
    margin-bottom: 10px;
  }
  
  .start-message ion-icon {
    font-size: 24px;
  }
  
  