<ion-header>
  <ion-toolbar>
    <ion-title>Configuracion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!-- Contenido de la página de configuración -->
    <ion-list style="border-radius: 10px;">
      <ion-item>
        <ion-icon class="ion-icon-yt-font-size" name="logo-youtube"></ion-icon>
        <div>
          <ion-label style="margin: 10px;"><p>Configuracion YouTube Streaming</p></ion-label>
        </div>
      </ion-item>

      <ion-item *ngIf="noRtmpKey">
        <ion-toggle [disabled]="true" justify="space-between">Transmitir en youtube</ion-toggle>
      </ion-item>

      <ion-item *ngIf="!noRtmpKey">
        <ion-toggle [disabled]="false" (ionChange)="onToggleChange($event)" justify="space-between">Transmitir en youtube</ion-toggle>
      </ion-item>

      <ion-item>
        <div style="padding-top: 10px; padding-bottom: 10px;">
          <div>
            <ion-label ><p>Youtube streaming Key</p></ion-label>
          </div>
          <div>
            <ion-input class="container-input" [(ngModel)]="yt_rtmp_key_input" label="" type="password" value="password" fill="outline"></ion-input>
            
          </div>
        </div>
        <ion-button class="send-yt-key-button" style="margin-left: auto;" shape="round" (click)="onSendKey()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item *ngIf="noRtmpKey">
        <ion-label style="margin: 10px;"><p>Ingrese su clave RTPM</p></ion-label>
      </ion-item>

      <ion-item *ngIf="!noRtmpKey">
        <ion-label style="margin: 10px;"><p>Clave RTMP disponible: {{yt_rtmp_key}}</p></ion-label>
      </ion-item>
      
      <ion-item>

          <ion-icon class="ion-icon-yt-font-size" name="people-circle" slot="start"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>Configuracion de Participantes</h2>
        </ion-label>
        
        <ion-button fill="solid" color="primary" class="circular-button" slot="end" id="open-participants" expand="block">
          <ion-icon name="create"></ion-icon>
        </ion-button>

        <ion-modal #modal trigger="open-participants">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Participantes</ion-title>
                <ion-buttons slot="secondary">
                  <ion-button fill="solid" color="primary" class="circular-button-add" id="open-participants" expand="block" (click)="setOpenModalParticipant(true)">
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-modal [isOpen]="isModalNewParticipant">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Modal</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpenModalParticipant(false)">Close</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <ion-card>
                      <div class="qr_container">
                        <img [src]="imagePath"/>
                      </div>
                      
                      <ion-card-header>
                        <ion-card-title>URL</ion-card-title>
                        <ion-card-title><a [href]="join_url">{{join_url}}</a></ion-card-title>
                        <ion-card-title>User ID</ion-card-title>
                        <ion-card-title>{{user_id}}</ion-card-title>
                        <ion-card-subtitle>Rol: {{role}}</ion-card-subtitle>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <p></p>
                      </ion-card-content>
                    </ion-card>
                  </ion-content>
                </ng-template>
              </ion-modal>
              
              <ion-list>
                
                
                <ion-item *ngFor="let participant of arrayParticipants">
                    
                  <ion-avatar slot="start">
                    <ion-img src="https://i.pravatar.cc/"></ion-img>
                  </ion-avatar>
                  <ion-label>
                    <h2>{{participant}}</h2>
                    <p>
                      <ion-button fill="clear" color="primary" class="circular-button-add" expand="block" (click)="setOpenModalGetParticipant(true, participant)">
                        Ver Detalles
                      </ion-button>
                    </p>

                    <ion-modal [isOpen]="isModalGetParticipant">
                      <ng-template>
                        <ion-header>
                          <ion-toolbar>
                            <ion-title>Modal</ion-title>
                            <ion-buttons slot="end">
                              <ion-button (click)="setOpenModalGetParticipant(false, participant)">Close</ion-button>
                            </ion-buttons>
                          </ion-toolbar>
                        </ion-header>
                        <ion-content class="ion-padding">
                          <ion-card>
                            <div class="qr_container">
                              <img [src]="imagePath"/>
                            </div>
                            
                            <ion-card-header>
                              <ion-card-title>URL</ion-card-title>
                              <ion-card-title><a [href]="join_url">{{join_url}}</a></ion-card-title>
                              <ion-card-title>User ID</ion-card-title>
                              <ion-card-title>{{user_id}}</ion-card-title>
                              <ion-card-subtitle>Rol: {{role}}</ion-card-subtitle>
                            </ion-card-header>
                          
                            <ion-card-content>
                              <p></p>
                            </ion-card-content>
                          </ion-card>
                        </ion-content>
                      </ng-template>
                    </ion-modal>

                  </ion-label>
                </ion-item>
                
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>

      </ion-item>

    </ion-list>


    <!-- Botón rojo en el borde inferior -->
    <div class = "finalizar-button">
        <ion-button  class="rounded-button" expand="full" color="danger" (click)="finalizarEvento()">
          <ion-icon name="close-circle-outline"></ion-icon>
          Finalizar evento
        </ion-button>
      </div>
  </div>
</ion-content>
