<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="transmit">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Transmitir</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="edit">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="statistics">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Estadisticas</ion-label>
      </ion-tab-button> -->



      <ion-tab-button tab="director">
        <ion-icon name="tv-outline"></ion-icon>
        <ion-label>Direccion</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
