// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-tab-bar-background: #1e1e1e;
    --ion-tab-bar-color: #8e8e93;
    --ion-tab-bar-color-activated: #ffffff;
  }